body{
  width : 100%;
  height: 100%;
    align-items: center;
    font-family: 'Questrial' ,'sky','Changa' ,sans-serif ;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color:black;
    color:#e8e9eb;

}
html ::selection {
  background-color: #355072;
  color:white;
}
html {
  scroll-behavior: auto;
}
#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index : 0;


}
canvas {
  height: 100%;
  width: 100%;
  position: absolute;
}
.uberlogo {
  padding-left:10px ;
  padding-right:30px;
  margin-right:10px;
  padding-top: 10px;
  padding-bottom: -20px;
  cursor: normal;
  float: left;
}
#nav_bar
{
  margin: auto;
  padding:auto;
  margin-left: -10px;
  margin-top: auto;
  position: fixed;
  top:0;
  width:100%;
  height:auto;
  background-color:rgba(0, 0, 0, 0.7);;
  transition: top 0.3s;
  float: left;
  display: block;
  background-blend-mode: lighten;
}
#nav_bar a {
display: block;
margin-bottom:auto;
float: left;
text-decoration: none;
padding: 20px;
overflow: hidden;
color: #e5e5e5;
font-size:25px;
left: 250px;
transition: 0.2s ease;
}
 #nav_bar a:hover {
  color: white;
  }
  .neon{
      color: white;
      text-decoration: none;
      position: relative;
  }

  .neon::after{
    content: '';
    width: 0%;
    height: 7px;
    background: radial-gradient(#283048,#859398);
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease;
    position: absolute;
  }

  .neon:hover::after{
    left: 0%;
    width: 100%;
  }
  .media_icons {
  float:right;
  padding-right:20px;
  font-size: 25px;
  letter-spacing: 2px;
  color: white;
  }

  .media_icons i {
  display: block;
  width:auto;
  height:40px;
  margin-right:5px;
  margin-top: 0px;
  color:#dce0d9;
  transition: 0.2s ease;
  padding-left: -10px;
  padding-right: -10px;


  }
.media_icons i:hover {
color:white;

}
.txtbox {

  position:absolute;
  left:550px;
}
  /*Nav bar ends ! */
.destination{
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
    top: 150px;
    background-color: transparent;
    color:grey;
    right:0;

}

.destination input{
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    color:white;
}

.destination label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.destination label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    background-color: transparent;
}

.content-name{
    position: absolute;
    bottom: 5px;
    right: 0px;
    transition: all 0.3s ease;
    background-color: transparent;
    color: grey;
}

.destination input:focus + .label-name  .content-name,
.destination input:valid +  .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
    background-color: transparent;
}

.destination input:focus + .label-name::after,  .destination input:valid  + .label-name::after{
    transform: translateX(0%);
    background-color: transparent;
}

.raly{
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
    top: 200px;
background-color: transparent;
}

.raly input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    color :white;
}

.raly label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.raly label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    background-color: transparent;
}

.content-name{
    position: absolute;
    bottom: 5px;
    right: 0px;
    transition: all 0.3s ease;
    background-color: transparent;
}

.raly input:focus + .label-name  .content-name,
.raly input:valid +  .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
    background-color: transparent;
}

.raly input:focus + .label-name::after,  .raly input:valid  + .label-name::after{
    transform: translateX(0%);
    background-color: transparent;
}

.signdrive{
    font-size: 30px;
    border-bottom: 1px solid black;
    color: grey;
    background-color: transparent;
    top: 247px;
    left: 250px;
    position: relative;
    height: 55px;
    font-size: 41px;
    height :45px;
    width :350px;
}


.signdrive a{
    text-decoration: none;
    color:grey;
    height: 100%;
    width: 100%;



}

.signdrive a:hover{
    color: white;
    transition-duration: 1s;
}

.signride{
    border-bottom: 1px solid black;
    color: grey;
    top: 200px;
    left: 200px;
    position: relative;
    height: 55px;
    font-size: 41px;
    margin: auto;
    height :45px;
    width :350px;
}

.signride a{
    text-decoration: none;
    color:grey;
    height: 100%;
    width: 100%;
}

.signride a:hover{
    color: white;
    transition-duration: 1s;
}

#About{
  position: relative;
    top: 250px;
    font-size: 35px;
    height: auto;
    width: 250px;
    margin: auto;
    text-align:center;

}

.inabout{
  position: relative;
  top: 250px;
    width: 70%;
    font-size: 18px;
    text-align: right;
}
.inabout i {
  font-size: 10px;

}
/*footer*/
.footer1 {
  font-family: 'changa';
  position:absolute;
  bottom: 0;
  left: 0;
  right: auto;
  top:125%;
  width: 100%;
  height:150px;
  background-color: #1b1b1e;
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding-bottom: 0;
}
.footer1 ul {
  list-style: none;
}
.footer1 i {
  color:#acacac;
word-spacing: 10px;
letter-spacing: 10px;
align-items: center;
font-size: 20px;
transition: 0.3s ease;
}
.footer1 i:hover {
  color: white;
}
.names {
  width: 150px;
  position: relative;
  left: 20px;

}
.contact-info {
  position:absolute;
  left: 160px;
  bottom: -5px;

}
.app {
  transform: translate(-10%,0);
}
.app1 {
  position: absolute;
  bottom:10px;
  height: 45px;
  width: auto;
}
.app2 {
  position: absolute;
  bottom:80px;
  height: 50px;
  width: auto;
}
.copyrights {
  position: absolute;
  right: 0;
  bottom: -10px;
  padding: 0;
  margin: auto;
  font-size: 15px;
}
.footer-icons{
position: absolute;
  right: 420px;
  bottom:10%;
  font-size: 25px;
  width: 200px;
}
.footer-icons i{
font-size: 30px;
letter-spacing: 30px;
}
#youtube {
  font-size:27px;
}
